@charset utf-8;

body { background:#201D0E; }
.header .top-area h1 { display:none; }
.footer-logo { display:none; }

.main { position:relative; height:3944px; margin-top:-430px; background:url(bg.png) center top no-repeat; }

.area1 { text-align:center; }
.area1 h2 { height:135px; }
.area1 h2 img { margin-top:22px; }
.area1 .timer { padding:20px 0; }
.area1 .timer span { padding:0 20px; font-size:16px; color:#333; }
.area1 .timer span em { font-size:56px; color:#ff503e; font-style:normal; font-family:'Arial Rounded MT Bold'; }
.area1 .btns { padding:20px 0; }
.area1 .btns a { margin:0 35px; }
.area1 .download { padding:20px 0; }
.area1 .download a { display:inline-block; line-height:1.2; margin:0 5px; padding:3px 6px; background:#FFF; border:2px solid #FD4A5D; font-size:16px; color:#ff495d; overflow:hidden; }

.area2 { padding:240px 0 0; }
.area2 .col1 { position:relative; float:left; width:770px; background:#F9F9F9; }
.area2 .col2 { float:right; width:410px; }
.area2 .col2 .links li { margin-bottom:20px; }
.area2 .col1 .bg2 { position:absolute; left:215px; bottom:0; width:347px; height:362px; background:url(bg2.png) center no-repeat; overflow:hidden; }
.area2 .col1 .pic { position:relative; float:left; margin-right:30px; }
.area2 .col1 .text { position:relative; float:left; width:415px; }
.area2 .col1 .text .hd { padding:10px 0; border-bottom:1px solid #DDD; }
.area2 .col1 .text .hd h2 { float:left; font-size:20px; color:#f56373; }
.area2 .col1 .text .hd h2 em { margin-left:5px; font-size:20px; color:#999; font-style:normal; font-weight:normal; }
.area2 .col1 .text .hd span { float:right; padding-top:5px; font-size:14px; color:#222; }
.area2 .col1 .text .hd span a { margin:0 5px; color:#222; }
.area2 .col1 .text .bd { padding:10px; }
.area2 .col1 .text .content { line-height:1.8; font-size:12px; }

.area3 { padding-top:30px; }
.area3 .hd { text-align:center; padding:10px 0 0; }
.area3 .hd li { display:inline-block; width:12px; height:12px; margin:0 5px; text-indent:-2000px; background:#CCC; border-radius:50%; cursor:pointer; overflow:hidden; }
.area3 .hd li.on, .area3 .hd li:hover { background:#FF6B1B; }

.area4 { padding-top:120px; }
.area4 .hd { margin-bottom:20px; }
.area4 .hd h2 { font-weight:normal; font-size:26px; color:#333; }
.area4 .hd h2 em { margin-left:5px; font-size:14px; color:#999; font-style:normal; font-weight:normal; }
.area4 .col1 { float:left; width:490px; margin-right:20px; }
.area4 .col2 { float:left; position:relative; width:390px; }
.area4 .col3 { float:right; width:280px; }
.area4 .col2 .control { position:absolute; left:0; bottom:10px; width:100%; text-align:center; }
.area4 .col2 .control li { display:inline-block; width:12px; height:12px; margin:0 5px; text-indent:-2000px; background:#FFF; border-radius:50%; cursor:pointer; overflow:hidden; }
.area4 .col2 .control li.on, .area4 .col2 .control li:hover { background:#FF6B1B; }

.area5 { padding-top:190px; }
.area5 .hd { margin-bottom:20px; }
.area5 .hd h2 { font-weight:normal; font-size:26px; color:#333; }
.area5 .hd h2 em { margin-left:5px; font-size:14px; color:#999; font-style:normal; font-weight:normal; }
.area5 .bd .pics li { float:left; width:100%; }
.area5 .bd .pics li a { float:left; width:33.33333%; padding:5px; }
.area5 .bd .pics li img { max-width:100%; width: 400px; height: 275px; }
.area5 .bd .controls { text-align:center; padding:55px 0 0; }
.area5 .bd .controls li { display:inline-block; width:12px; height:12px; margin:0 5px; text-indent:-2000px; background:#FFF; border-radius:50%; cursor:pointer; overflow:hidden; }
.area5 .bd .controls li.on, .area5 .bd .controls li:hover { background:#FF6B1B; }

.area6 { padding-top:130px; }
.area6 .hd { margin-bottom:20px; }
.area6 .hd h2 { font-weight:normal; font-size:26px; color:#333; }
.area6 .hd h2 em { margin-left:5px; font-size:14px; color:#FFF; font-style:normal; font-weight:normal; }
.area6 .bd .pics li { float:left; width:100%; }
.area6 .bd .pics li a { float:left; width:16.66666%; margin:6px 0; }
.area6 .bd .controls { text-align:center; padding:55px 0 0; }
.area6 .bd .controls li { display:inline-block; width:12px; height:12px; margin:0 5px; text-indent:-2000px; background:#FFF; border-radius:50%; cursor:pointer; overflow:hidden; }
.area6 .bd .controls li.on, .area6 .bd .controls li:hover { background:#FF6B1B; }

.area7 { padding-top:60px; }
.area7 .hd { margin-bottom:20px; }
.area7 .hd h2 { font-weight:normal; font-size:26px; color:#333; }
.area7 .hd h2 em { margin-left:5px; font-size:14px; color:#FFF; font-style:normal; font-weight:normal; }
.area7 .bd .pics li { float:left; width:100%; }
.area7 .bd .pics li a { float:left; width:16.66666%; margin:6px 0; }
.area7 .bd .controls { text-align:center; padding:55px 0 0; }
.area7 .bd .controls li { display:inline-block; width:12px; height:12px; margin:0 5px; text-indent:-2000px; background:#FFF; border-radius:50%; cursor:pointer; overflow:hidden; }
.area7 .bd .controls li.on, .area7 .bd .controls li:hover { background:#FF6B1B; }

.area8 { text-align:center; padding-top:240px; font-size:16px; color:#333; }
.area8 li { display:inline-block; margin:0 15px; }
.area8 li img { margin-bottom:5px; }

.area9 { text-align:center; padding-top:120px; }
.area9 li { display:inline-block; padding:0 15px; }
.area9 li.first { margin-left:10px; border-right:1px solid #000; }
