<!doctype html>
<html ng-app="demo" lang="en" class="feedback">
<head>
	<tc_include file="Public/TQHead"/>
	<tc_include file="Public/RCHead"/>
	<link rel="stylesheet" type="text/css" href="__TMPL__Public/css/feedback.css" />
</head>
	<body ng-controller="main">
	<div id="show">
		<div class="detail">
			<div class="top-bg"></div>
			<div class="top-card">
				<div class="photo">
					<img src="{$msg.photo}">
				</div>
				<div class="text">
					{$msg.name}
					<h6 class="mui-ellipsis">
						<notempty name="msg.sex">
							<if condition="$msg.sex eq 2">
								女
								<else />
								男
							</if>
							<else />
							保密
						</notempty>
						－
						<notempty name="msg.age">
							{$msg.age}
							<else />
							保密
						</notempty>
					</h6>
					<h6 class="mui-ellipsis">
						<if condition="$msg.status eq 0"> 未处理
							<elseif condition="$msg.status eq 1"/>处理中
							<else />处理完毕
						</if>
					</h6>
					<h6 class="mui-ellipsis">
						咨询时间：{$msg.create_time}
					</h6>
				</div>
			</div>
		</div>
		<div class="doctor-introduce">
			<div class="mui-card">
				<div class="mui-card-header">
					<span>咨询内容</span>
				</div>
				<div class="mui-card-content briefing">
					<p>{$msg.content}</p>
				</div>
			</div>
			<div class="mui-card">
				<div class="mui-card-header">
					<span>病例图片</span>
				</div>
				<ul class="mui-table-view mui-grid-view" id="record">
					<notempty name="list">
						<foreach name="list" item="r">
							<li class="mui-table-view-cell mui-media mui-col-xs-6">
								<notempty name="r.photo">
									<a href="javascript:void(0);">
										<img src="{$r.photo}" style="width: 100%; max-height: 7rem;" data-preview-src="" date-preview-group="1"/>
									</a>
									<else/>
									暂无病例图片！
								</notempty>
							</li>
						</foreach>
						<else/>
						<li class="mui-table-view-cell mui-media mui-col-xs-12">
							暂无病例图片！
						</li>
					</notempty>
				</ul>
			</div>
		</div>
		<if condition="$msg.status eq 2">
			<div>
				<div class="mui-card">
					<div class="mui-card-header">
						<span>聊天记录</span>
					</div>
					<div class="mui-card-content briefing">
						<foreach name="chat_list" item="cl">
							<if condition="$type eq 0">
								<if condition="$cl.status eq 1">
									<div class="rows">
										<img src="{$msg.photo}" class="img-right"/>
										<div class="chat-bubble-right">
											<notempty name="cl.photo">
												<img src="{$cl.photo}" class="img-chat"/>
												<else/>
												{$cl.content}
											</notempty>
										</div>
									</div>
									<else />
									<div class="rows">
										<img src="../upload_img/head_tq/doctor.png" class="img-left"/>
										<div class="chat-bubble-left">
											<notempty name="cl.photo">
												<img src="{$cl.photo}" class="img-chat"/>
												<else/>
												{$cl.content}
											</notempty>
										</div>
									</div>
								</if>
								<else />
								<if condition="$cl.status eq 1">
									<div class="rows">
										<img src="{$msg.photo}" class="img-left"/>
										<div class="chat-bubble-left">
											<notempty name="cl.photo">
												<img src="{$cl.photo}" class="img-chat"/>
												<else/>
												{$cl.content}
											</notempty>
										</div>
									</div>
									<else />
									<div class="rows">
										<img src="../upload_img/head_tq/doctor.png" class="img-right"/>
										<div class="chat-bubble-right">
											<notempty name="cl.photo">
												<img src="{$cl.photo}" class="img-chat"/>
												<else/>
												{$cl.content}
											</notempty>
										</div>
									</div>
								</if>
							</if>
						</foreach>
					</div>
				</div>
				<notempty name="elte_info.doctor_id">
					<div class="mui-card">
						<div class="mui-card-header">
							<span>咨询小结</span>
						</div>
						<div class="mui-card-content">
							<div class="mui-input-row">
								<div class="mui-content-padded">
									<div class="mui-inline">{$elte_info.content}</div>
								</div>
							</div>
						</div>
						<div class="mui-card-footer">提交时间：{$elte_info.doctor_time}</div>
					</div>
				</notempty>
				<notempty name="elte_info.user_id">
					<div class="mui-card" style="margin-bottom: 1.5rem;">
						<div class="mui-card-header">
							<if condition="$type eq 0">
								<span>我的评价</span>
								<else />
								<span>用户评价</span>
							</if>
						</div>
						<div class="mui-card-content">
							<div class="mui-input-row">
								<div class="mui-content-padded">
									<div class="mui-inline">咨询评分</div>
									<div class="mui-inline" style="margin-left: 6px;" id="star">
									</div>
								</div>
							</div>
						</div>
						<div class="mui-card-footer">提交时间：{$elte_info.user_time}</div>
					</div>
					<else />
					<if condition="$type eq 0">
						<form method="post" name="info" action="{:U('portal/messages/evaluate')}">
							<div class="mui-card" style="margin-bottom: 1.5rem;">
								<div class="mui-card-header">
									<span>立即评价</span>
								</div>
								<div class="mui-card-content">
									<div class="mui-input-row">
										<input type="hidden" name="msg_id" value="{$msg.id}"/>
										<div class="mui-content-padded">
											<div class="mui-inline">咨询评分</div>
											<div class="icons mui-inline" style="margin-left: 6px;">
												<i data-index="2" class="mui-icon mui-icon-star"></i>
												<i data-index="4" class="mui-icon mui-icon-star"></i>
												<i data-index="6" class="mui-icon mui-icon-star"></i>
												<i data-index="8" class="mui-icon mui-icon-star"></i>
												<i data-index="10" class="mui-icon mui-icon-star"></i>
											</div>
											<input type="hidden" id="elte" name="elte" value="">
										</div>
									</div>
								</div>
								<div class="mui-card-footer"><button type="submit" class="mui-btn mui-btn-primary footer-btn" style="margin:0 !important;width: 100%;">提交</button></div>
							</div>
						</form>
					</if>
				</notempty>
			</div>
			<else />
			<if condition="$type neq 0">
				<notempty name="msg.operation_reason">
					<div class="mui-card">
						<div class="mui-card-header">
							<span>聊天记录</span>
						</div>
						<div class="mui-card-content briefing">
							<foreach name="chat_list" item="cl">
								<if condition="$cl.status eq 1">
									<div class="rows">
										<img src="{$msg.photo}" class="img-right"/>
										<div class="chat-bubble-right">
											<notempty name="cl.photo">
												<img src="{$cl.photo}" class="img-chat"/>
												<else/>
												{$cl.content}
											</notempty>
										</div>
									</div>
									<else />
									<div class="rows">
										<img src="../upload_img/head_tq/doctor.png" class="img-left"/>
										<div class="chat-bubble-left">
											<notempty name="cl.photo">
												<img src="{$cl.photo}" class="img-chat"/>
												<else/>
												{$cl.content}
											</notempty>
										</div>
									</div>
								</if>
							</foreach>
						</div>
					</div>
					<div class="mui-card">
						<div class="mui-card-header">
							<span>返回原因</span>
						</div>
						<div class="mui-card-content">
							<div class="mui-input-row">
								<div class="mui-content-padded">
									<div class="mui-inline">{$msg.operation_reason}</div>
								</div>
							</div>
						</div>
						<div class="mui-card-footer">提交时间：{$msg.operation_time}</div>
					</div>
				</notempty>
			</if>
			<if condition="$type eq 0 && $msg.status eq 1">
				<nav class="mui-bar mui-bar-tab">
					<div class="zixun-nav">
						<button type="button" class="mui-pull-right" ng-click="setconversation('{$msg.id}')">立即查看</button>
					</div>
				</nav>
				<elseif condition="$type neq 0 && $msg.type neq 3"/>
				<notempty name="msg.doctor_id">
					<if condition="$msg.doctor_id eq $login_id">
						<nav class="mui-bar mui-bar-tab">
							<div class="zixun-nav">
								<button type="button" class="mui-pull-right" ng-click="setconversation('{$msg.id}')">立即查看</button>
							</div>
						</nav>
					</if>
					<else />
					<div style="text-align: center;">
						<a id="handle" class="mui-btn mui-btn-primary footer-btn" href="javascript:void(0);" style="line-height: 27px;width: 50% !important;">确认受理</a>
					</div>
				</notempty>
			</if>
		</if>
	</div>
	<div>
		<rong-widget></rong-widget>
	</div>
	</body>
<!--图片点击放大预览主要js开始-->
<script type="text/javascript" src="__TMPL__Public/js/mui.zoom.js" ></script>
<script type="text/javascript" src="__TMPL__Public/js/mui.previewimage.js" ></script>
<script type="text/javascript" src="__TMPL__Public/js/feedback.js" charset="utf-8"></script>
<!--图片点击放大预览主要js结束-->
<script>
    mui.previewImage();//图片点击放大预览主要js
    mui('.mui-scroll-wrapper').scroll();
</script>
<script type="text/javascript">
    if ("{$msg['doctor_id']}" == ""){
        document.getElementById("handle").addEventListener('tap', function() {
            var btnArray = ['确定', '取消'];
            mui.confirm('确定受理此次咨询？', '铁樵健康提醒您', btnArray, function(e) {
                var id = parseInt("{$msg['id']}");
                if (e.index == 0) {
                    $.ajax({
                        async:false,
                        type : "get",
                        url : "index.php?g=portal&m=messages&a=handle",
                        data : {
                            'msg_id' : id
                        },
                        dataType : "json",
                        success : function(data) {
                            if(data == 0){
                                mui.alert('您已成功受理此次咨询，请尽快处理！', '温馨提醒', function() {
                                    window.location.href='{:U("portal/messages/detail",array("id"=>$msg["id"]))}';
                                });
                            }else if (data == 1){
                                mui.alert('此次咨询已被受理！', '温馨提醒', function() {
                                    window.location.href='{:U("portal/messages/detail",array("id"=>$msg["id"]))}';
                                });
                            }else{
                                mui.alert('咨询受理失败，请再次尝试或者联系技术人员！', '温馨提醒', function() {
                                    window.location.href='{:U("portal/messages/detail",array("id"=>$msg["id"]))}';
                                });
                            }
                        }
                    });
                } else {
                    return;
                }
            })
        });
    }

    $(function(){
        var index = 8;
        if ("{$elte_info['elte']}" != ""){
            index = parseInt("{$elte_info['elte']}");
        }
        var star = $("#star");
        var q = index/2;
        var w = index%2;
        for (i = 1;i<6;i++) {
            if (i<=q){
                star.append("<i data-index='"+i+"' class='mui-icon mui-icon-star-filled'></i>");
            } else if (w > 0) {
                star.append("<i data-index='"+i+"' class='mui-icon mui-icon-starhalf mui-icon-star-filled'></i>");
                w = 0;
            } else {
                star.append("<i data-index='"+i+"' class='mui-icon mui-icon-star'></i>");
            }
        }
    });
</script>
</html>