<!doctype html>
<html ng-app="demo">
<head>
	<tc_include file="Public/TQHead"/>
	<tc_include file="Public/RCHead"/>
</head>
<style>
	.kefubtn{
		position: fixed;
		left: 0px;
		bottom: 0px;
		right: 0px;
		text-align: center;
		height: 50px;
		line-height: 50px;
		background-color: #007aff;
		color: white;
		font-size: 20px;
	}
</style>
<body ng-controller="main">
<form action="{:U('portal/index/register_doctor')}">
	<header id="header" class="mui-bar mui-bar-nav">
		<h1 class="mui-title">咨询问诊</h1>
	</header>
	<div style="text-align: center;">
		<textarea class="input" ng-model="targetId" rows="8" style="border-radius: 10px; width: 80%;margin-top: 3rem;" placeholder="请输入咨询内容"></textarea>
	</div>
	<div class="mui-button-row">
		<button type="submit" class="mui-btn mui-btn-primary footer-btn" onclick="return check_form();">提交</button>&nbsp;&nbsp;
		<button type="button" class="mui-btn mui-btn-danger footer-btn" onclick="return false;">取消</button>
	</div>
</form>
<div class="kefubtn" ng-click="show()">打开会话>></div>
<div>
	<rong-widget></rong-widget>
</div>
</body>
<!--<body>

<form action="{:U('portal/index/register_doctor')}">
	<div class="mui-content">
		<div class="mui-content-padded" style="margin-top: 4rem;">
			<div class="mui-input-row">
				<textarea id="content" rows="8" placeholder="请输入咨询内容" style="border-radius: 10px;"></textarea>
			</div>
		</div>
		<div class="mui-button-row">
			<button type="submit" class="mui-btn mui-btn-primary footer-btn" onclick="return check_form();">提交</button>&nbsp;&nbsp;
			<button type="button" class="mui-btn mui-btn-danger footer-btn" onclick="return false;">取消</button>
		</div>
	</div>
</form>
<div class="kefubtn" ng-click="show()">打开会话>></div>
<div>
	<rong-widget></rong-widget>
</div>
</body>-->
</html>