<!doctype html>
<html ng-app="demo">
<admintpl file="head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/simpleboot/rongCloud/vendor/jqueryrebox/jquery-rebox-0.1.0.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/simpleboot/rongCloud/css/RongIMWidget.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/simpleboot/rongCloud/demo/main.css"/>
</head>
<body ng-controller="main">
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('messages/index')}">咨询管理</a></li>
			<!--<li><a href="{:U('messages/add')}">添加咨询</a></li>-->
		</ul>
		<form class="well form-search" method="post" id="cid-form" >
			<input type="text" name="name" style="width: 200px;" value="{$name}" placeholder="请输入咨询人">
			<input type="text" name="doctor_name" style="width: 200px;" value="{$doctor_name}" placeholder="请输入处理人">
			<select id="status" name="status" style="width: 200px;">
				<if condition="$status eq ''">
					<option value="" selected>请选择咨询状态</option>
					<option value="0">未处理</option>
					<option value="1">处理中</option>
					<option value="2">处理完毕</option>
					<else/>
					<if condition="$status eq 0">
						<option value="">请选择咨询状态</option>
						<option value="0" selected>未处理</option>
						<option value="1">处理中</option>
						<option value="2">处理完毕</option>
					</if>
					<if condition="$status eq 1">
						<option value="">请选择咨询状态</option>
						<option value="0">未处理</option>
						<option value="1" selected>处理中</option>
						<option value="2">处理完毕</option>
					</if>
					<if condition="$status eq 2">
						<option value="">请选择咨询状态</option>
						<option value="0">未处理</option>
						<option value="1">处理中</option>
						<option value="2" selected>处理完毕</option>
					</if>
				</if>
			</select>
			<button class="btn btn-primary">搜索</button>
			<a class="btn btn-danger" href="{:U('messages/index')}">清空</a>
		</form>
		<form class="js-ajax-form" method="post">
			<div class="table-actions">
				<button class="btn btn-danger btn-small js-ajax-submit" type="submit" data-action="{:U('messages/delete')}" data-subcheck="true" data-msg="确定删除？">删除</button>
			</div>
			<table class="table table-hover table-bordered table-list">
				<thead>
					<tr>
						<th width="16"><label><input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label></th>
						<th width="50">咨询人</th>
						<th width="120">咨询内容</th>
						<th width="80">咨询时间</th>
						<th width="50">操作状态</th>
						<th width="50">处理人</th>
						<th width="50">处理状态</th>
						<th width="80">处理开始时间</th>
						<th width="80">处理结束时间</th>
						<th width="120">操作</th>
					</tr>
				</thead>
				<foreach name="list" item="vo">
					<tr>
						<td><input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}"></td>
						<td>{$vo.name_u}</td>
						<td>{$vo.content}</td>
						<td>{$vo.create_time}</td>
						<td>
							<if condition="$vo.type eq 0">
								未操作
							</if>
							<if condition="$vo.type eq 1">
								已转发
							</if>
							<if condition="$vo.type eq 2">
								已群发
							</if>
						</td>
						<td>{$vo.name_d}</td>
						<td>
							<if condition="$vo.status eq 0">
								<span style="color:#CD2626;">未处理</span>
							</if>
							<if condition="$vo.status eq 1">
								<span style="color:#5CACEE;">处理中</span>
							</if>
							<if condition="$vo.status eq 2">
								<span style="color:#66CD00;">处理完毕</span>
							</if>
						</td>
						<td>{$vo.start_time}</td>
						<td>{$vo.end_time}</td>
						<td>
							<notempty name="vo.manager_id">
								<a style="margin-top: 5px;" href="{:U('messages/forward',array('id'=>$vo['id']))}" class="btn btn-success btn-small js-ajax-delete" data-msg="确定发送给所有的医生吗？">群发</a>
								<a style="margin-top: 5px;" href="javascript:open_iframe_dialog('{:U('messages/sends_many',array('id'=>$vo['id']))}','转发')" class="btn btn-success btn-small">转发</a>
								<a style="margin-top: 5px;" ng-click="setconversation('{$vo.user_id}','{$vo.name_u}')" class="btn btn-primary btn-small ">立即处理</a>
								<a style="margin-top: 5px;" href="{:U('messages/delete',array('id'=>$vo['id']))}" class="btn btn-danger btn-small js-ajax-delete" data-msg="确定删除？">删除</a>
								<else/>
								<a style="margin-top: 5px;" ng-click="setconversation('{$vo.user_id}','{$vo.name_u}')" class="btn btn-primary btn-small ">确定受理</a>
							</notempty>
						</td>
					</tr>
				</foreach>
				<tfoot>
					<tr>
						<th width="16"><label><input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label></th>
						<th width="50">咨询人</th>
						<th width="120">咨询内容</th>
						<th width="80">咨询时间</th>
						<th width="50">操作状态</th>
						<th width="50">处理人</th>
						<th width="50">处理状态</th>
						<th width="80">处理开始时间</th>
						<th width="80">处理结束时间</th>
						<th width="120">操作</th>
					</tr>
				</tfoot>
			</table>
			<div class="table-actions">
				<button class="btn btn-danger btn-small js-ajax-submit" type="submit" data-action="{:U('messages/delete')}" data-subcheck="true" data-msg="确定删除？">删除</button>
			</div>
			<div class="pagination">{$page}</div>
		</form>
		<rong-widget></rong-widget>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script>
		setCookie('refersh_time', 0);
        $("#rong-conversation-list").css('display','none');
		function refersh_window() {
			var refersh_time = getCookie('refersh_time');
			if (refersh_time == 1) {
				window.location.reload();
			}
		}
		setInterval(function() {
			refersh_window()
		}, 2000);
		$(function() {
			$("#selected-cid").change(function() {
				$("#cid-form").submit();
			});
		});
	</script>
</body>
<script src="__PUBLIC__/simpleboot/rongCloud/vendor/jquery-2.2.2.js"></script>
<script src="__PUBLIC__/simpleboot/rongCloud/vendor/angular-1.4.8.js"></script>

<!-- 融云IMLib -->
<script src="http://cdn.ronghub.com/RongIMLib-2.2.8.min.js"></script>
<script src="http://cdn.ronghub.com/RongEmoji-2.2.5.min.js"></script>
<script src="http://cdn.ronghub.com/Libamr-2.2.5.min.js"></script>
<script src="http://cdn.ronghub.com/RongIMVoice-2.2.5.min.js"></script>

<!-- 上传插件 -->
<script src="__PUBLIC__/simpleboot/rongCloud/vendor/plupload.full.min-2.1.1.js"></script>
<script src="__PUBLIC__/simpleboot/rongCloud/vendor/qiniu-1.0.17.js"></script>

<!-- 增强体验插件 -->
<script src="__PUBLIC__/simpleboot/rongCloud/vendor/jqueryrebox/jquery-rebox-0.1.0.js"></script>

<!-- IM插件 -->
<script src="__PUBLIC__/simpleboot/rongCloud/js/RongIMWidget.js"></script>
<script src="__PUBLIC__/simpleboot/rongCloud/demo/common.js"></script>
<script src="__PUBLIC__/simpleboot/rongCloud/demo/index.js"></script>
</html>